{% extends '::base.html.twig' %}

{% block page_title %}{{ 'Error' }}{% endblock %}

{% block content %}
    <h2>{{ block('page_title') }}</h2>

    <p>{{ 'A error occurred due to an unknown cause. Go back and try again or go to the homepage.' }}</p>
    <a class="btn btn-primary" href="/">{{ 'To the homepage' }}</a>

    <hr>
    <p>{{ 'The error code for the error is' }}: <span class="art">#{{ art }}</span></p>
    <p>{{ 'If you think this error is a mistake, please report it to SURFnet.' }}</p>
{% endblock %}
